In [5]:
def rohan():
  print("sourav is bad boy")

In [6]:
rohan()

sourav is bad boy

In [8]:
def rohan():
  print("your number is ",9876543210)

In [9]:
rohan()

your number is  9876543210

In [10]:
def rohan():
  x=int(input("enter the roll no"))
  print("your roll no is",x)

In [11]:
rohan()

enter the roll no42
your roll no is 42

In [14]:
def details(n,e,p,r):
  print("your name",n)
  print("your email",e)
  print("your place",p)
  print("your roll no",r)

In [15]:
n=input("enter your name:")
e=input("enter your email:")
p=input("enter your place:")
r=input("enter your roll no:")

enter your name:rohan
enter your email:roha@gmail
enter your place:edapally
enter your roll no:45

In [18]:
details(n,e,p,r)

your name rohan
your email roha@gmail
your place edapally
your roll no 45

In [22]:
def name(x):
  print("your first name is",x[0])

In [23]:
def name2(x):
  print('your second name is',x[1])

In [24]:
na=input("enter your name")
x=na.split(" ")
name(x)
name2(x)

enter your namerohan tom
your first name is rohan
your second name is tom

In [30]:
def swap(n,n1):
  temp=n
  n=n1
  n1=temp
  print("swap number is:",n)
  print("swap number is:",n1)

In [31]:
n=int(input("enter a number"))
n1=int(input("enter next number"))

enter a number30
enter next number70

In [32]:
swap(n,n1)

swap number is: 70
swap number is: 30